<a href="https://colab.research.google.com/github/kiaranabila2025-del/KKA_XI_SEMESTER_1_Kiara-Nabila-Hasna/blob/main/2_Tipe_Variabel_%5BKiara_Nabila_Hasna%5D_%5BXI_1%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LATIHAN:
Tanggal-Bulan-Tahun

In [ ]:
Tahun = 2009
Bulan = "Agustus"
Tanggal = 26

print(Tanggal, Bulan, Tahun, sep="-")

26-Agustus-2009

In [ ]:
Nama_depan = "Kiara"
Nama_belakang = "Nabila"

print(Nama_depan, Nama_belakang)

Kiara Nabila

In [ ]:
Nama_depan = "Kiara"
Nama_belakang = "Nabila"

print(Nama_depan, end=" ")
print(Nama_belakang)

Kiara Nabila

#LATIHAN SOAL

In [ ]:
print("Bu Shinta berkata, berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing masing di folder local disk D:\\ Jadwal Pelajaran Kelas XI Semester I\" ")
print("di folder local disk D:\\Jadwal Pelajaran\\Kelas XI Semester I\"")
print("\nJadwal Pelajaran Mingguan")
print("Jam\tSenin\t\tSelasa\t\tRabu")
print("Jam 1\tMatematika\tInformatika\tInformatika")
print("Jam 2\tBahasa Ing.\tSejarah\t\tMa\\'rifatullah")

Bu Shinta berkata, berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing masing di folder local disk D:\ Jadwal Pelajaran Kelas XI Semester I"
di folder local disk D:\Jadwal Pelajaran\Kelas XI Semester I"

Jadwal Pelajaran Mingguan
Jam	Senin		Selasa		Rabu
Jam 1	Matematika	Informatika	Informatika
Jam 2	Bahasa Ing.	Sejarah		Ma\'rifatullah

#KONSEP DASAR

In [ ]:
email_user_1 = "Kiaranabila.2025@gmail.com"
print(email_user_1)

Kiaranabila.2025@gmail.com

In [ ]:
sabun_lifebuoy = 15000
print(sabun_lifebuoy)

15000

In [ ]:
print(sabun_lifebuoy*5)

75000

#Peraturan Penulisan Variabel

In [ ]:
#Penulisan variabel hanya boleh menggunakan huruf, angka, dan underscore
#Tidak boleh menggunakan spasi
nama siswa = "Afa"

print(nama siswa)

SyntaxError: invalid syntax (ipython-input-1537453249.py, line 3)

In [ ]:
#tidak boleh diawali dengan angka

1_nama_siswa = "Afa"
print(1_nama_siswa)

SyntaxError: invalid decimal literal (ipython-input-2537239670.py, line 3)

In [ ]:
#penulisan variabel itu case sensitive/sensitif capslock
nama_siswa_1 = "Afa"

print(Nama_siswa_1)

NameError: name 'Nama_siswa_1' is not defined

In [ ]:
#dilarang menggunakan kata kunci di bahas phyton
prin = "Afa"

print(prin)

Afa

In [ ]:
end = "Naufal"
print(end)

Naufal

In [ ]:
#Deskriptive
_ = "Favian"

print(_)

Favian

In [ ]:
#Tidak boleh pakai kata kunci phyton
#print = "Devin"
#Kalau error, harus diconnect dulu
#print(print)

#Assignment

#Single Assignment

In [ ]:
nama_siswa_2 = "Dhapne"
nama_siswa_3 = "Farel"
print(nama_siswa_2)
print(nama_siswa_3)

Dhapne
Farel

#Multiple Assignment

In [ ]:
nama_siswa_4, nama_siswa_5 = "Sada", "Selo"
print(nama_siswa_4)
print(nama_siswa_5)

Sada
Selo

#Assign ke Banyak Variabel Sekaligus

In [ ]:
nilai_afa = nilai_favian = 100

print(nilai_afa)
print(nilai_favian)

100
100

#Perubahan Nilai Variabel

In [ ]:
nilai_afa = 95
print(nilai_afa)

95

#latihan soal harga barang di swalayan

In [ ]:
susu = 15000
roti = 12000
telur = 24000
print("Harga susu:", susu)
print("Harga roti:", roti)
print("Harga telur:", telur)

Harga susu: 15000
Harga roti: 12000
Harga telur: 24000

In [ ]:
gula, minyak = 14000, 20000
print("Harga Gula:", gula)
print("Harga Minyak:", minyak)

Harga Gula: 14000
Harga Minyak: 20000

In [ ]:
mie_ayam = mie_soto = mie_kari = 3500
print("Harga Mie Ayam:", mie_ayam)
print("Harga Mie Soto:", mie_soto)
print("Harga Mie Kari:", mie_kari)

Harga Mie Ayam: 3500
Harga Mie Soto: 3500
Harga Mie Kari: 3500

In [ ]:
susu, roti = roti, susu
print("Harga Susu setelah ditukar:", susu)
print("Harga Roti setelah ditukar:", roti)

Harga Susu setelah ditukar: 12000
Harga Roti setelah ditukar: 15000

#ARITMATIKA

In [ ]:
print(24*3)

72

In [ ]:
total_jumlah_botol = 24 * 3
print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
print(banyak_botol_per_kardus * jumlah_kardus)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = banyak_botol_per_kardus * jumlah_kardus
print(total_jumlah_botol)

72